.header {
    background-color: rgba(0, 0, 0, 0.7);
    height: 70vh;
}

.header__content-heading {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.header__content-img {
    display: block;
    width: 30%;
    height: auto;
    margin: 1% auto;
}

.header__content-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.header__text-content {
    display: block;
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 2%;
}

.about-main {
    display: block;
    background-image: url('../img/background/383292-black-lozenge-abstract-minimalism-artwork.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}

.about-main__heading {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.about-main__flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.about-main__box-img {
    display: block;
    width: 50%;
    height: auto;
}

.about-main__box-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.about-main__text {
    display: block;
    width: 35%;
    height: auto;
    text-align: center;
}