.header {
    background-image: url('../img/shoose_car_page_img/porshe911.jpg');
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.header__content {
    display: block;
}

.header__content-slide-1 {
    display: block;
    width: 100%;
    height: auto;
}

.slide-1 {
    display: block;
    width: auto;
    height: auto;
}

.slide-1__flex {
    display: flex;
    flex-wrap: nowrap;
}

.slide-1__heading {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 110;
    padding-top: 1%;
    padding-bottom: 1%;
}

.slide-1__heading h2 {
    text-shadow: 0px 0px 25px #91EBFE;
}

.slide-1__heading-inner {
    display: block;
    text-align: center;
}

.slide-1__backround-clip-path {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-clip-path: polygon(0% 0%, 60% 0, 100% 100%, 0 250%);
    clip-path: polygon(0% 0%, 60% 0, 100% 100%, 0 250%);
    height: auto;
    width: 60%;
    padding-top: 7%;
    padding-bottom: 2%;
}

.slide-1__img-car {
    width: 60%;
    height: auto;
    padding-top: 5%;
    padding-left: 5%;
}

.slide-1__img-car img {
    width: 100%;
    height: auto;
}

.slide-1__buttons {
    display: block;
    width: 80%;
}

.slide-1__show-more-button {
    display: block;
    width: 50%;
    height: auto;
    text-align: center;
    border: 2px solid #9BFEF9;
    border-radius: 20px;
    margin: 2% auto;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.slide-1__button-book {
    display: block;
    width: 40%;
    height: auto;
    text-align: center;
    border: 2px solid #9BFEF9;
    border-radius: 20px;
    margin: 2% auto;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.slide-1__show-more-button :hover {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 15px #91EBFE);
    transition: .3s ease-in-out;
}

.slide-1__button-book:hover {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 15px #91EBFE);
    transition: .3s ease-in-out;
}

/* section->filter */

.filter {
    display: block;
    background-image: url('../img/background/black-smooth-textured-paper-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    padding-bottom: 1%;
}

.filter__heading {
    display: block;
    width: 100%;
    height: auto;
    padding-top: .5%;
    padding-bottom: .5%;
    text-align: center;
}

.filter__flex-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 1%;
}

.filter__box-select {
    display: block;
    width: 30%;
    height: auto;
    text-align: center;
}

.filter__show-button {
    display: block;
    width: 25%;
    height: auto;
    text-align: center;
    border: 2px solid #9BFEF9;
    border-radius: 10px;
    margin: 3% auto;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.filter__show-button:hover {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 15px #91EBFE);
    transition: .3s ease-in-out;
}

.filter__select {
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 1%;
    margin: 0 auto;
    cursor: pointer;
}

.filter__select-head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.filter__icon {
    width: 10%;
    height: auto;
    padding: 1%;
}

.filter__icon img {
    width: 100%;
    height: auto;
}

/* .filter__inner-content {} */

.cars {
    display: block;
    background-image: url('../img/background/383292-black-lozenge-abstract-minimalism-artwork.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

.cars__heading {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.cars__car-flex {
    display: flex;
    flex-wrap: nowrap;
}

.car-flex {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}

.car-flex__text-content {
    display: block;
    width: 50%;
    height: auto;
}

.car-flex__text-content-heading {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-shadow: 0px 0px 25px #91EBFE;
}

.car-flex__text-content-h3 {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}

.car-flex__text-content-h3-right {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

.car-flex__text-content-show-more input[type=submit]{
    display: block;
    background-color: inherit;
    width: 60%;
    height: auto;
    padding: 1%;
    text-align: center;
    border: 2px solid #9BFEF9;
    border-radius: 20px;
    margin: 4% auto;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.car-flex__text-content-book {
    display: block;
    width: 50%;
    height: auto;
    /* padding: .5%; */
    text-align: center;
    border: 2px solid #9BFEF9;
    border-radius: 20px;
    margin: 4% auto;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.car-flex__text-content-show-more input[type=submit]:hover, .car-flex__text-content-book:hover {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 15px #91EBFE);
    transition: .5s;
}

.car-flex__img-png {
    display: block;
    width: 50%;
    height: auto;
}

.car-flex__img-png img {
    width: 100%;
    height: auto;
}