@media screen and (max-width: 1920px) {
    .header__content-inner-text-heading h2 {
        font-size: 32px;
    }
    .header__content-inner-text-briefly h3 {
        font-size: 28px;
    }
    .header__content-inner-text-preview {
        padding-top: 25%;
        padding-bottom: 5%;
    }
    .header__content-inner-text-preview h3 {
        font-size: 22px;
        line-height: 42px;
    }
    .header__content-inner-text-button-book h3 {
        font-size: 22px;
    }
    /* car -> exterior */
    .cars-more__exterior-car-heading h3 {
        font-size: 32px;
    }
    .cars-more__exterior-car-text h3 {
        font-size: 24px;
    }
    /* car -> interior */
    .cars-more__interior-car-heading h3 {
        font-size: 32px;
    }
    .cars-more__inerior-car-text h3 {
        font-size: 24px;
    }
    /* car -> technical */
    .cars-more__technical-specifications-heading h3 {
        font-size: 32px;
    }
    .cars-more__technical-specifications-text-box h3 {
        font-size: 24px;
    }
    /* car -> price */
    .price__heading h3 {
        font-size: 32px;
    }
    .price__price-box h3 {
        font-size: 24px;
    }
    .price__button-book h3 {
        font-size: 24px;
    }
    .booking-car-button input[type=submit] {
        font-size: 22px;
    }
}

@media screen and (max-width: 1366px) {
    .header__content-inner-text-heading h2 {
        font-size: 28px;
    }
    .header__content-inner-text-briefly h3 {
        font-size: 20px;
    }
    .header__content-inner-text-preview {
        padding-top: 15%;
        padding-bottom: 5%;
    }
    .header__content-inner-text-preview h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .header__content-inner-text-button-book h3 {
        font-size: 18px;
    }
    /* car -> exterior */
    .cars-more__exterior-car-heading h3 {
        font-size: 28px;
    }
    .cars-more__exterior-car-text h3 {
        font-size: 18px;
    }
    /* car -> interior */
    .cars-more__interior-car-heading h3 {
        font-size: 28px;
    }
    .cars-more__inerior-car-text h3 {
        font-size: 18px;
    }
    /* car -> technical */
    .cars-more__technical-specifications-heading h3 {
        font-size: 28px;
    }
    .cars-more__technical-specifications-text-box h3 {
        font-size: 18px;
    }
    /* car -> price */
    .price__heading h3 {
        font-size: 28px;
    }
    .price__price-box h3 {
        font-size: 18px;
    }
    .price__button-book h3 {
        font-size: 18px;
    }
    .booking-car-button input[type=submit] {
        font-size: 20px;
    }
}