.header__honda-nsx {
    background-image: url('../img/show_more_background/honda.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__kia-k5 {
    background-image: url('../img/show_more_background/kia-k5.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__kia-stinger {
    background-image: url('../img/show_more_background/kia-stinger.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__Lamborghini-Gallardo-black {
    background-image: url('../img/show_more_background/lamborgini-black.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__Lamborghini-Gallardo-orange {
    background-image: url('../img/show_more_background/lamborgini-orange.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__mazda-6 {
    background-image: url('../img/show_more_background/mazda-6.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__mazda-cx-8 {
    background-image: url('../img/show_more_background/mazda-cx-8.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__mazda-mx-5 {
    background-image: url('../img/show_more_background/mazda-mx-5.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__mercedes-benz-amg-gt-coupe {
    background-image: url('../img/show_more_background/mercedes-benz-amg-gt-coupe.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__mercedes-benz-cls {
    background-image: url('../img/show_more_background/mersedes-benz-cls.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__nissan_gtr_35-blue {
    background-image: url('../img/show_more_background/nissan-gtr-blue.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__nissan_gtr_35-orange {
    background-image: url('../img/show_more_background/nissan-gtr-orange.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__porsche-911-carrera-s {
    background-image: url('../img/show_more_background/porshe911.jpg');
    background-color: rgba(10, 10, 10, 0.7);
}

.header__content-flex {
    display: flex;
    flex-wrap: nowrap;
}

.header__content-img {
    display: block;
    background-color: rgba(10, 10, 10, 0.4);
    width: 60%;
    height: 80vh;
    padding-top: 5%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0 250%);
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0 250%);
}

.header__content-text {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 50%;
}

.header__content-inner-text {
    display: block;
    width: 80%;
    height: auto;
    padding-top: 5%;
}

.header__content-inner-text-heading {
    display: block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header__content-inner-text-heading h2 {
    text-shadow: 0px 0px 5px #91EBFE;
}

.header__content-inner-text-briefly {
    display: block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header__content-inner-text-preview {
    display: block;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 2%;
}

.header__content-inner-text-button-book {
    display: block;
    width: 60%;
    height: auto;
    padding: .5%;
    text-align: center;
    border: 2px solid #9BFEF9;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.header__content-inner-text-button-book:hover {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 15px #91EBFE);
    transition: .5s ease-in-out;
}

.header__content-inner-block-img {
    display: block;
    width: 80%;
    height: auto;
}

.header__content-inner-block-img img {
    width: 100%;
    height: auto;
}

.cars-more {
    display: block;
    background-image: url('../img/background/black-smooth-textured-paper-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(10, 10, 10, 0.3);
    width: 100%;
    height: auto;
}

.cars-more__exterior-car {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cars-more__exterior-car-heading {
    display: block;
    width: 100%;
    text-align: left
}

.cars-more__exterior-car-heading h3 {
    color: #91EBFE;
    text-shadow: 0px 0px 5px #91EBFE;
}

.cars-more__interior-car {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cars-more__interior-car-heading {
    display: block;
    width: 100%;
    text-align: right;
}

.cars-more__interior-car-heading h3 {
    color: #91EBFE;
    text-shadow: 0px 0px 5px #91EBFE;
}

.cars-more__technical-specifications {
    display: block;
    background-color: rgba(10, 10, 10, 0.7);
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cars-more__technical-specifications-container {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.cars-more__technical-specifications-heading {
    display: block;
    width: 100%;
    text-align: center;
}

.cars-more__technical-specifications-heading h3 {
    color: #91EBFE;
    text-shadow: 0px 0px 5px #91EBFE;
}

.cars-more__exterior-car-text {
    padding-left: 4%;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

.cars-more__inerior-car-text {
    padding-right: 4%;
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

.cars-more__exterior-car-img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 88vh;
}

.cars-more__exterior-car-img-block {
    display: block;
    width: 14%;
    height: auto;
    padding: 1%;
}

.cars-more__exterior-car-img-block:nth-child(1) {
    display: block;
    width: 75%;
    height: inherit;
}

.cars-more__exterior-car-img-block:nth-child(1) img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 7px 20px 0px #00000094;
    animation: opacityAnimation 1s ease-in-out;
}

.cars-more__exterior-car-img-block img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    animation: opacityAnimation 1s ease-in-out;
}

.cars-more__interior-car-img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 88vh;
}

.cars-more__interior-car-img-block {
    display: block;
    width: 19%;
    height: auto;
    padding: 1%;
}

.cars-more__interior-car-img-block:nth-child(1) {
    display: block;
    width: 75%;
    height: inherit;
}

.cars-more__interior-car-img-block:nth-child(1) img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 7px 20px 0px #00000094;
    animation: opacityAnimation 1s ease-in-out;
}

.cars-more__interior-car-img-block img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    animation: opacityAnimation 1s ease-in-out;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cars-more__technical-specifications-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 2%;
}

.cars-more__technical-specifications-text-content {
    display: block;
    width: 40%;
    height: auto;
}

.cars-more__technical-specifications-text-box {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cars-more__technical-specifications-text-box-h3-1 {
    width: 70%;
}

.cars-more__technical-specifications-text-box-h3-2 {
    width: 30%;
}

.cars-more__technical-specifications-img-box {
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
}

.cars-more__technical-specifications-img-box img {
    width: 100%;
    height: auto;
}

.price {
    display: block;
    background-image: url('../img/background/black-smooth-textured-paper-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(10, 10, 10, 0.3);
    width: 100%;
    height: auto;
    padding-bottom: 3%;
}

.price__heading {
    display: block;
    width: 100%;
    text-align: center;
}

.price__heading h3 {
    padding-top: 1%;
    padding-bottom: 1%;
    color: #91EBFE;
    text-shadow: 0px 0px 5px #91EBFE;
}

.price__price-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

.price__price-box {
    text-align: center;
}

.price__button-book {
    display: block;
    width: 30%;
    height: auto;
    text-align: center;
    border: 2px solid #9BFEF9;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    transition: .3s ease-in-out;
}

.price__button-book:hover {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 25px #91EBFE);
    transition: .3s ease-in-out;
}

.show-page-button {
    width: 40%;
    height: auto;
    padding: 1%;
    margin: 0 auto;
}